	* {
		margin: 0;
		padding: 0;
		}
    	
	body {
		position: relative;
		margin: auto;
		width: 1200px;
		height: 1500px;
		background-color: #f8f8f6;
		}
	
	#joebanner {
		position: absolute;
    	top: 15px;
    	left: 315px;
		}
		
	#about {
		position:absolute;
		top: 300px;
		left: 100px;
		}
		
	#atitle {
		position: absolute;
		width: 400px;
		left: 780px;
		top: 350px;
		color: black;
		font-size: 24px
		}
		
	#aboutdes {
		position: absolute;
		width: 400px;
		left: 780px;
		top: 450px;
		color: black;
		}
	
	#shortdes {
		position:absolute;
		top: 750px;
		left: 100px;
		}	
		
	#stitle {
		position:absolute;
		width: 400px;
		left: 780px;
		top: 970px;
		color: black;
		font-size: 24px
		}
		
	#shortdescript {
		position:absolute;
		width: 400px;
		left: 780px;
		top: 1100px;
		color: black;
		}
	
	#nav {
		position: absolute;
		top: 180px;
		left: 270px;
		width: 700px;
		}
		
	#nav li {
		list-style-type: none;
		width: 120px;
		height: 25px;
		background-color: white;
		font-size: 14px;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 8px;
		float: left;
		text-align: center;
		}

	body {
		color: black;
		font-family: century gothic;
		font-size: 14px;
		letter-spacing: 2px;
		}
	
		a:link {
		font-family: verdana;
		font-size: 14px;
		color: black;
		text-decoration: none;
		}
	
	a:visited {
		color: grey;
		}

	a:hover {
		color: black;
		}
