	* {
		margin: 0;
		padding: 0;
		}
	

	body {
		background-image: url('../../images/imagesfinal/bg.gif');
    	}
    	
    section {
    	position: relative;
		width: 1200px;
		height: 800px;
		text-align: center;
		margin: auto;
		}
    
    
	#yd {
		position: relative;
		font-family: 'Arvo', serif;
		color: white;
		font-size: 48px;
		padding-top: 75px;
		float: right;
		right: 150px;
		}
		
	#amclogo {
		background-color: white;
		width: 500px;
		padding: 5px 0px 12px 0px;
		opacity: 0.5;
		margin: auto;
    	}
    	
    #stars {
    	position: relative;
    	float: right;
		display: inline; 
		left: 120px;
		top: 400px;
    	}
    	
    #sun {
    	position: relative;
    	float: left;
    	bottom: 50px;
    	left: 100px;
    	}
    	
    #ydfacts {
    	position: relative;
		font-family: 'Arvo', serif;
		text-align: left;
		border-radius: 25px;
    	background: white;
    	padding: 20px; 
    	width: 210px;
    	height: 250px; 
		color: black;
		width: 300px;
		opacity: 0.5;
		margin: 25px 0px 25px 0px;
		padding: 25px 25px 25px 25px;
		float: right;
		right: 215px;
		top: 50px;
    	}
    	