	* {
    	margin:0;
   		padding:0;
	}


	body {
		background-color: darkred;
		color: white;
		font-family: georgia;
		font-size: 34px;
		font-style: italic;
		letter-spacing: 2px;
		}
	
	a:link {
		font-family: verdana;
		font-size: 24px;
		color: white;
		text-decoration: none;
		}
	
	a:visited {
		color: lightgrey;
		}
		
	a:hover {
		text-decoration: underline;
		}
		
	nav {
		position: fixed;
		}
		
	nav li {
		float: left;
		margin-left: 50px;
		list-style-type: none;
		}
		
	article {
		height: 900px;
		width: 100%;
		padding-top: 50px;
		}
		
	h2 {
		margin: 50px 0px 50px 30px;
		}
		
	article p {
		margin: 20px 0px 0px 50px;
		}
		
	main {
		margin-left: 50px;
		}